h2 {
  font-family: "Times New Roman", Times, serif;
  color: white;
  text-align: center;
}
#sobre {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    padding-left: 615px;
}
body {
  background-color: rgb(00, 00, 17);
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
}
.image-luke {
  width: 580px;
  float: left;
  border-radius: 10px;
  padding: 10px;
  background-color: black;
}

.texto-sobre {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    padding-left:630px;
}
.habilidades {
    padding-left: 615px;
}

.lista-habil {
    padding-left: 600px ;
}

strong {
  color: rgb(104, 73, 117);
}
em {
  color: rgb(104, 73, 117);
}
a {
  color: blue;
}
.lista {
  font-size: 18px;
}

.usq {
    padding: 8px 12px;
    background-color: #E76D23;
    color: white;
    text-decoration: none;
}